/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/


#container {
  display: block;
  margin: 5%;
}

h1 {
  font-size: 35px;
  color: #656565;
}

img[data-info="ad image"]{
  display: block;
  width : 100%;
  margin-bottom: 10px;
}

img[data-info="sponser image"]{
  display: inline;
  width : 22%;
  margin-right: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: #a1a3a5;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

h2 {
  font-size: 30px;
  color: #656565;
}

span {
  font-size: 15;
  color: blue;
}

p {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
}
