<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a href="/">Home</a>
  <a href="/magic_eight">Magic 8 Ball</a>
  <a href="/secret_number">Secret Number</a>
  <a href="/rock_paper_scissors">Rock Paper Scissors</a>
</nav>
<%= yield %>

</body>
</html>
