<form action="<%= volcanoes_path %>" method="post">
  <label>
    Name:
    <input type="text" name="volcano[name]" required autofocus>
  </label>

  <label>
    Image:
    <input type="text" name="volcano[image]">
  </label>

  <label>
    Last eruption:
    <input type="number" name="volcano[last_eruption]">
  </label>

  <label>
    country:
    <input type="text" name="volcano[country]">
  </label>

  <button>Add volcano</button>

</form>
