<h2>All Books</h2>

<ul>
  <% @books.each do |book| %>
    <li>
      <a href="/books/<%= book['id'] %>">
        <%= book['name'] %>
        <!-- <img class = "thumb" src="<%= book['image'] %>"  alt=""> -->

      </a>
      <% end %>
    </li>

</ul>
