<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Wonderful Book/Author BAtabase</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/books">All books</a>
      <a href="/books/new">New Book</a>
      <a href="/authors">Authors</a>
      <a href="/authors/new">New Author</a>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
