<div class="fortune">

  <img class="fortune" src="/assets/orion.jpg" alt="">

  <div class="inside">
    <h2>Magic 8 Ball</h2>

    <p>increase your frequency, concentrate on your question</p>
    <p>enter your question and shake the magic 8 ball </p>
    <form action="/magic/prediction">
      <input type="text" placeholder="ask a question">
      <button>Shake</button>
    </form>
  </div>

</div>
