<h1>Rock, Paper, Scissors</h1>
<!-- <form action="/rps/<%= params[:throw]%>" method="get">
  <select name="throw">
    <option></option>
    <% @play_throw.each do |n| %>
      <option value= "<%=n%>" ><%=n%></option>
    <% end %>
  </select>
  <button>Go!</button>
</form> -->

<a href="/rps/rock">Rock</a>
<a href="/rps/paper">Paper</a>
<a href="/rps/scissors">Scissors</a>
