
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-image: url("http://wallpapercave.com/wp/rulGwnG.jpg");
  background-color: white;
  }
  p {
    font-size : 20px;
  }
#small {
  font-size: 22px;
}

.container {
  width: 960px;
  margin: auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 150%;
  background-image:
}
h1 {
  font-size: 72px;
  text-align: center;
}
nav {
  text-align: right;
  background-color: gray;
  width: 100%;
  padding: 5px;
  padding-right: 0px;

}
nav a {
  text-decoration: none;
  color: white;
  font-size: 200%;
  margin: 3px;
  padding: 5px;
  padding-right: 5px
}
nav a:hover {
  color: gray;
  background-color: white;
}
main {
  display: inline-block;
  width: 90%;
}
main img {
  margin: 0 auto;
  display: inline-block;
  width: 50%;
}


main p {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-top: 0.5px;
  font-size: 130%;
}

.secret {
  width: 955px;
  height: 955px;
  border: 10px solid black;
  margin: 10px;
  display: inline-block;
}

.norm {
  width: 100%;
}
