<h1>New Author</h1>
<form action="/authors" method="post">
  First Name
  <input type="text" name="first_name" placeholder="First Name">
  Surname
  <input type="text" name="surname" placeholder="Surname">
  Information
  <input type="text" name="info" placeholder="Information">
  <!-- #image -->
  Image URL
  <input type="text" name="image" placeholder="Image URL">

  <button>New Author</button>
</form>
