<h1>Authors Index</h1>
<ul>
  <% @authors.each do |author|%>
  <li class = "index_list">
    <a href="/authors/<%= author['id']%>">
      <img class= "thumbnail" src="<%= author['image']%>" alt="">
      <%= author['first_name']%> <%= author['surname']%>
    </a>
  </li>
  <% end %>
</ul>
