<h1>New Book</h1>
<form action = "/books" method = "post">
  Title
  <input type = "text" placeholder = "Title" name = "title" required="true">
  Author ID
  <input type = "integer" placeholder = "Author id" name = "author_id">
  Publisher
  <input type = "text" placeholder = "Publisher" name = "publisher">
  Publication Date
  <input type = "text" placeholder = "Publication Date" name = "yearPublished">
  Synopsis
  <input type = "text" placeholder = "blurb" name = "blurb">
  Image URL
  <input type = "text" placeholder = "Image URL" name = "image">

  <button>New Book</button>
</form>
