<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Books & Authors</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class= "container">
    <nav>
      <a href="/">Home</a>
      <a href="/books">All Books</a>
      <a href="/books/new">New Book</a>
      <a href="/authors">All Authors</a>
      <a href="/authors/new">New Author</a>
    </nav>
    <%= yield %>
  </div>

</body>

</html>
