<h1>Welcome to the Fairground!</h1>

<p>You can play:</p>
<ul>
  <li><a href="/magic">Magic 8 Ball</a></li>
  <li><a href="/secret">Secret Number</a></li>
  <li><a href="/scissors">Scisscors, Paper, Rock</a></li>
</ul>


<div>
  <img class="tree" src="/assets/meeting_tree.jpg">
  <!-- <img src="/assets/silhouette.jpg" alt=""> -->
</div>
