<div class="wrapper">
  <h1>Rock Paper Scissors</h1>
  <h2>Choose your hand</h2>
  <ul>
    <li><a href="/rock_paper_scissors/result?choice=rock"><div class="rock"></div></a></li>
    <li><a href="/rock_paper_scissors/result?choice=paper"><div class="paper"></div></a></li>
    <li><a href="/rock_paper_scissors/result?choice=scissors"><div class="scissors"></div></a></li>
  </ul>
</div>
