@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Open+Sans:300');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(242, 227, 186);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: rgb(128, 128, 128);
}

.container {
  background-image: url('/assets/railtrack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
}

nav {
  position: fixed;
  text-align: center;
  background-color: rgb(145, 52, 52);
  width: 100%;
}

nav a {
  color: rgb(242, 227, 186);
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

/***** Typography *****/
h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 3em;
  color: rgb(145, 52, 52);
  margin:0;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  margin:0;
  margin-bottom: 30px;
}

/****** FORM Elements *****/
.form-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

label{
  font-size: 1.5em;
  display: block;
  margin: 30px 0;
}

input[type='text'] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 20px 0;
}

input[type='radio'] {
  display: inline;
  margin-left: 20px;
  margin-bottom: 20px;
}

button {
  background-color: rgb(145, 52, 52);
  color: rgb(242, 227, 186);
  border: 0;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 10px 15px;
  margin: 5px;
  outline: none;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/***** Home *****/
ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 30px;
}

li:first-child {
  margin-left: 0;
}

li img {
  display: block;
  height: 150px;
  margin-top: 10px;
}

/***** rock paper scissors *****/

.player, .opponent {
  display: inline-block;
  margin-bottom: 20px;
  width: 30%;
}

.player div, .opponent div {
  margin: 0 auto;
}

.rock, .paper, .scissors {
  background-image: url('/assets/rockpaperscissors.png');
  width: 240px;
  height: 225px
}

.rock {
  background-position: 0 0;
}

.paper {
  background-position: 445px 0;
}

.scissors {
  background-position: 237.5px 0;
}
