<h2>New Authors</h2>

<form action="/authors" method="post">
  <input type="text" name="name" placeholder="author name">
  <input type="url" name="image" placeholder="http://...">
  <button>Create authors</button>
</form>
