<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Association</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/books">All books</a>
      <a href="/books/new">New book</a>
      |
      <a href="/authors">All authors</a>
      <a href="/authors/new">New author</a>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
