  <form action="/destinations" method="post">
    <input type="text" name="name" placeholder="Enter city name" required>
    <input type="text" name="country" placeholder="Enter country name" required>
    <input type="number" name="population" placeholder="Enter population" required>
    <input type="text" name="language" placeholder="Enter language" required>
    <input type="url" name="image" placeholder="Enter image url" required>
    <input type="text" name="map" placeholder="Enter map embed code">
    <textarea rows="10" name="desc" placeholder="Enter city info" required></textarea>
    <button type="submit">Create</button>
  </form>
