<p>Please ask me a constructive question:</p>
<img src="/assets/8ball.gif">
<form action="/magic_eight/respond" method="get">
  <input type="text" name="question" placeholder="Am I an idiot?" required>
</form>
