 @import url('https://fonts.googleapis.com/css?family=Martel:200');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Martel', serif;
  font-size: 1em;
}

header {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*margin-bottom: 50px;*/
}

.container {
  max-width: 960px;
  margin: 10px auto;
}

h1, h2 {
  text-align: center;
}

h3 {
  /*margin: 0 0 5px 0;*/
  color: rgb(75, 108, 184);
}

nav {
  text-align: center;
}

nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  width: 200px;
  font-size: 1.2em;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(75, 108, 184);
  cursor: pointer;
}

.destinations-list {
  list-style: none;
}

.destinations-list a {
  text-decoration: none;
}

.destinations-list li {
  display: inline-block;
  width: 49%;
  color: rgb(255, 255, 255);
}

.destination-name {
  text-align: center;
  padding: 15px;
  background-color: rgb(75, 108, 184);
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

.destination {
  text-align: center;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .6;
  margin-bottom: 4px;
}

.destination:hover {
  opacity: 1;
}

input, textarea {
  display: block;
  width: 700px;
  margin: 20px auto;
  border: 1px solid rgb(222, 222, 222);
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(75, 108, 184);
  border: 0;
  color: rgb(255, 255, 255);
}

button:hover {
  cursor: pointer;
}

input {
  height: 40px;
}

.hero-image {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-name {
  text-align: center;
  font-size: 10em;
  line-height: 600px;
  color: rgb(255, 255, 255);
}

iframe {
  margin-top: 10px;
  max-width: 44%;
  display: inline-block;
  vertical-align: top;
}

.destination-info {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-left: 5%;
}

.destination-info p {
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: justify;
}

.controls {
  margin-top: 30px;
  text-align: center;
}

.controls a {
  text-decoration: none;
}

.controls button {
  display: inline-block;
}
