<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="/">home</a>
  <a href="/eightball">eightball</a>
  <a href="/secret">secret number</a>
  <a href="/rsp">Rock Paper Scissors</a>

</nav>

<%= yield %>

</body>
</html>
