<p>
  <h2>New Author</h2>
  <form action="/authors" method="post">
    <input type="text" class="name" name="name" placeholder="Author name here" required><br>
    <input type="number" class="author" name="author" placeholder="Book Id here"><br>
    <input type="text" class="desc" name= "description" placeholder="Short Description here"><br>
    <input type="url" class="url" name="image" placeholder="URL (http://...)"><br>
    <button>Add new author</button>
  </form>
</p>
