<div class="wrapper">
  <h1>Magic 8 Ball</h1>
  <form action="/magic_8/answer" class="form-wrapper">
    <label>What would you like to ask the magic ball?</label>
    <input type="text" name="question" placeholder="Enter the question" required>
    <button>Ask the magic ball</button>
  </form>
</div>
