<h1>Magic Hammer</h1>
<div class="thought">
<h2><%= @answer %></h2>

</div>
<h2><a id="ask" href="/games/magichammer">ask again</a></h2>
<img class="thinker" src="/assets/luke2.png" alt="Magic Hammer" width="250px" height="350px">
