<div id="magichammer">
<h1>Magic Hammer</h1>
<h2>Ask a question and hit Luke with the hammer to crack open your fortune!</h2><br>
<form action="/games/magichammer/answer" method="get">
<label>
  <input id="fortune" type="text" name="question" placeholder="e.g will I get a job?" required>
</label><br>
<input id="magicbutton" type="submit" name="" value=""></form>
</div>
