<h1 id="rps">Rock Scissors Paper</h1>
<p>Choose Rock, Scissors or Paper</p><br>

<form action="/games/rps/throw" method="get">
<label>
  <input type="text" name="throw" required>
</label>
<button>Throw</button>
</form><br><br>
<img src="/assets/trump.gif">
