<h1>Secret Number</h1>

<p>What number am I thinking?</p>
<p>Choose between 1-10.</p>

<form action="/games/secretnumber/secretanswer" method="get">
<label>
  <input id="thinker" type="number" name="guess" min="1" max="10" required>
</label>
<button id="guess">Guess</button>
</form>
<div class="thought"><br>???<br><br><br>
</div>
<img class="thinker" src="/assets/thinker.jpg" alt="Secret Number" width="350px" height="350px">
