<h1>Secret Number</h1>
<div class="thought">
<% if @guess == @thinker %>
<p><%= @win%> because I think I was thinking... <%= @thinker%> </p>
<% else %>
<p><%= @lose%> because I think I was thinking... <%= @thinker%> </p>
<%end%>
</div>
<img class="thinker" src="/assets/thinker" alt="" width="350px" height="350px">
