body {
  background: #d4d2d2;
}

.loading-more-images {
  background-color: #b5b3b3;
  margin: 0;
  width: 62.8%;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

#sidebar {
  position: fixed;
}
