<h1>Magic 8 Ball</h1>

<form class="magic8" action="/magic8/result" method="get">
  <label>
  Question
  <input type="text" placeholder="Type in your question" name="question">
  </label>
  <button>Go!</button>
</form>
<h2 class="magic8_msg"><%= @result %></h2>
<img class="magic8_img" src="http://www.magicmgmt.com/gary/magic8ball/MAGIC8BALL.gif" alt="">
