* {
  font-family: 'Handlee', cursive;
}
h1 {
  color: white;
  position: absolute;
}

.hide {
  opacity : 0;
  bottom: 0px;
  left: 0px;
  height =
}
.video {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 5px;
}
#hotdogs {
  height: 560;
  width: 315;
  z-index: 1;
  position: absolute;
}
#scroller2 {
  height : 500px;
}
h2 {
  position: absolute;
  top: 400px;
  color: white;
  font-size: 42px;
}
