<p>Enter rock, paper, or scissors:</p>
<img src="/assets/rps.gif">
<form action="/rock_paper_scissors/throw" method="get">
  <input type="text" name="throw" placeholder="e.gl. rock" required>
</form>
