<div class="fortune">
  <img class="fortune" src="/assets/clouds.jpg" alt="">
  <div class="inside">
    <h2>Secret Number</h2>

    <p>Guess the secret number</p>
    <p>it is between 1 and 100</p>

    <form action="/secret/reveal">
      <input type="number" placeholder="secret number" name="guess">
      <button>Guess</button>
    </form>

  </div>
</div>
