<p>
  <h2>New Book</h2>
  <form action="/books" method="post">
    <input type="text" class="name" name="name" placeholder="Book name here">
    <input type="text" class="author" name="author" placeholder="Author name here">
    <input type="text" class="desc" name= "description" placeholder="Short Description here">
    <input type="url" class="url" name="image" placeholder="URL (http://...)"><br>
    <button>Add new book</button>
  </form>
</p>
