<p>
  <h2>Welcome to the image library.</h2>
  <div class="slideshow">
    <img src="/images/DaVinciCode.jpg" class="slides top">
    <img src="/images/Inferno-cover.jpg" class="slides">
    <img src="/images/AngelsAndDemons.jpg" class="slides">
    <img src="/images/Alchemist.jpeg" class="slides">
    <img src="/images/Dreams.jpg" class="slides">
    <img src="/images/Doomsday.jpg" class="slides">
    <img src="/images/BloodLine.jpg" class="slides">
  </div>
</p>
