<h2>New Cat</h2>

<!-- default method is get -->
<form action="/cats" method="post">
  <input type="text" name="breed" placeholder="Breed">
  <input type="text" name="coat" placeholder="Coat type">
  <input type="text" name="country" placeholder="Country of Origin">
  <input type="url" name="image" placeholder="http://...">
  <button>Add Cat</button>
</form>
