<div class="container">
  <div class="wrapper">
    <h1>Games on Rails</h1>

    <h2>Pick a game you would like to play</h2>

    <ul>
      <li>Magic 8 ball<a href="/magic_8"><img src="/assets/magic8ball.gif" alt=""></a></li>
      <li>Secret number<a href="/secret_number"><img src="/assets/secretnumber.png" alt=""></a></li>
      <li>Rock paper scissors<a href="/rock_paper_scissors"><img src="/assets/rockpaperscissorslogo.png" alt=""></a></li>
    </ul>

  </div>
</div>
