<form action="<%= mountains_path %>" method="post">
  <label>
    Name:
    <div class="input-group">
      <input type="text" class="form-control" name="mountain[name]" required autofocus>
    </div>
  </label>

  <label>
    Image:
    <div class="input-group">
      <span class="input-group-addon">https://</span>
      <input type="url" class="form-control" name="mountain[image]">
    </div>
  </label>

  <label>
    Elevation:
    <div class="input-group">
      <input type="number" class="form-control" name="mountain[elevation]">
    </div>
  </label>

  <label>
    Location:
    <div class="input-group">
      <input type="text" class="form-control" name="mountain[location]">
    </div>
  </label>

  <label>
    Description:
    <div class="input-group">
      <input type="text" class="form-control" name="mountain[description]">
    </div>
  </label>

  <button class="btn btn-default">Create Mountain</button>

</form>
