<h1>Get your answers with Magic 8 Ball</h1>
<h2>Give your question below: </h2>
<form action="/magic8ball/results">
  <input type="text" placeholder="Your question here...">
  <br>
  <br>
  <button>Ask</button>
</form>
