
ul.topnav {
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background: #000000;
  position: relative;
  list-style-type: none;
  text-align: left;
  padding-left: 80px;
}
ul.topnav li {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
}

ul.topnav li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px 15px;

}

ul.topnav li a:hover {

 background-image: url("../images/bg_nav_rollover.png");
  border-image-width: 5px 0 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}



#blurb {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-style: inset;
}
#blurb p{
  display: inline-block;
  vertical-align: top;
  width: 75%;

}
#blurb img {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 50px;
  width: 200px;
}

.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
  max-width: 100%;
  height: 0 auto;

}


div .three-column img {
  border: 4px solid #e0e0e0;
  padding: 1px;
}
