<h1>Rock - Scissors - Paper</h1>
<h2>Choose one from the list below: </h2>

<form action="/rock_paper_scissors/results">
<select name="user_choice">
  <option value="rock">ROCK</option>
  <option value="paper">Paper</option>
  <option value="sci">Scissors</option>
</select>
<button>Go</button>
</form>
