<h1 class="main_title">Women's Perfume & Fragrance</h1>
<div class="wrapper">
  <img class="main_img" src="http://www.esteelauder.co.th/media/boutiques/modern-muse/images/section_1/landing_bg.jpg" alt="">
</div>
