<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Women's Perfume & Fragrance</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/perfume">List</a>
      <a href="/perfume/new">New</a>
    </nav>
    <%= yield %>
  </div>
</body>
<footer>
  
</footer>
</html>
