<h1>Create Fragrance</h1>

<div class="form_wrapper">
<form class= "new_form" action="/perfume" method="post">
  Brand<br>
  <input type="text" name="brand" placeholder="Fragrance Brand" required="true"><br>
  Name<br>
  <input type="text" name="name" placeholder="Fragrance Name" required="true"><br>
  Cost<br>
  <input type="text" name="cost" placeholder="Fragrance Cost" required="true"><br>
  Image URL<br>
  <input type="url" name="image" placeholder="Image URL" required="true"><br>
  <button>Create Fragrance</button>
</form>
</div>
