<h1>MTA</h1>

<select name="start-station" id="select-start"><option value="default" selected="true" disabled="disabled">-- Start journey --</option></select>
<select name="end-station" id="select-end"><option value="default" selected="true" disabled="disabled">-- End journey --</option></select>
<button class="btn-submit" id="btn-submit">Calculate my trip</button>
<div id="results"></div>
