* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 18px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.search__title {
  display: block;
  width: 50%;
  margin: 20px auto;
  height: 40px;
  padding: 10px;
  text-align: center;
  font-size: 1em;
}

.search__button {
  display: block;
  width: 100px;
  margin: 20px auto;
  background-color: rgb(255, 153, 0);
  color: white;
  border: 0;
  padding: 10px;
}

.search__button:hover {
  cursor: pointer;
}

.results__message {
  display: block;
  width: 100%;
  text-align: center;
}

.results__list {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.results__list ul{
  list-style: none;
}

.results__list li{
  padding: 10px;
}

.results__list li:hover {
  background-color: rgb(24, 213, 255);
  color: white;
  cursor: pointer;
}

.results__details {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  text-align: center;
}
