<h2>New Book</h2>

<form action="/books" method="post">
  <input type="text" name="name" placeholder="Book name">
  <input type="text" name="author" placeholder="Author">
  <input type="url" name="image" placeholder="http://...">
  <button>Create Book</button>
</form>
