<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Wonderful World of Books</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/books">All books</a>
      <a href="/books/new">New Book</a> |
      <a href="/authors">All authors</a>
      <a href="/authors/new">New author</a> |
    </nav>
    <%= yield %>
  </body>
</html>
