<h1>Choose a game</h1>
<div id="home">
<a href="/games/magichammer"><figure><img src="assets/luke2.png" alt="Magic Hammer" width="200px" height="250px"><figcaption>Magic Hammer</figcaption></figure></a>
<a href="/games/secretnumber"><figure><img src="assets/thinker.jpg" alt="Secret number" width="200px" height="250px"><figcaption>Secret number</figcaption></figure></a>
<a href="/games/rps"><figure><img src="assets/trump3.png" alt="Rock Scissors Paper" width="330px" height="250px"><figcaption>Rock Scissors Paper</figcaption></figure></a>
</div>
