/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Oleo+Script|Special+Elite');
body{
  /*background-color: #BCE498;*/
  /*background-color: #F39FAB;*/
  /*background-color: white;*/
  background-color: #88D5DC;
}
.container{
  max-width: 960px;
  margin: 50px auto;
}
#msg, #first-msg, #finished, #no-match-found, #empty-string{
  display: none;
}
#msg, #finished{
  position: fixed;
  bottom: 0px;
  right: 0px;
}
h1, #first-msg, #finished, #no-match-found,#empty-string{
  font-family: 'Special Elite', cursive;
}
form>input#query, #go{
  font-size: 20px;
}
form>input#query{
  width: 10em;
  height: 2em;
}
input#query:focus{
  outline: none;
  background-color: white;
}
input#query:-webkit-autofill{
  background-color: white;
}
#go{
  margin-left: 20px;
  border-radius: 10px;
  background-color: white;
}
#go:focus{
  outline: none;
}
#msg, button, #to-top{
  font-family: 'Oleo Script', cursive;
}
.small-img{
  /*box-shadow: 0 0 0 7px white, 0 0 0 9px #c2c2d6;*/
  box-shadow: 0 0 0 7px black, 0 0 0 9px white;
  border-radius: 10px;
  margin: 12px;
  opacity: 0.5;
}
.small-img:hover{
  opacity: 1;
  -webkit-transition: opacity 0.6s ease-in;
  -moz-transition: opacity 0.6s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.2s ease-in;
}
#to-top{
  background-color: #07737D;
  color: white;
  position: fixed;
  right: 50px;
  top: 50px;
  font-size: 20px;
  border-radius: 5px;
}
#to-top:focus{
  outline: none;
}
/*#glow{
  width: 960px;
  height: 1000px;
}*/
