<div class="wrapper">
  <h1>Secret Number</h1>
  <h2>Guess a number from 1 to 10</h2>
  <form action="/secret_number/answer" class="form-wrapper">
    <input type="radio" name="number" value="1" checked>1
    <input type="radio" name="number" value="2">2
    <input type="radio" name="number" value="3">3
    <input type="radio" name="number" value="4">4
    <input type="radio" name="number" value="5">5
    <input type="radio" name="number" value="6">6
    <input type="radio" name="number" value="7">7
    <input type="radio" name="number" value="8">8
    <input type="radio" name="number" value="9">9
    <input type="radio" name="number" value="10">10 <br>
    <button>Guess</button>
  </form>
</div>
