<h1>Guess the number game</h1>
<h2>Guess the number in the below list: </h2>
<form action="/secret_number/results">
  <select name="number" id="">
    <option value="guessed_number">0</option>
    <option value="guessed_number">1</option>
    <option value="guessed_number">2</option>
    <option value="guessed_number">3</option>
    <option value="guessed_number">4</option>
    <option value="guessed_number">5</option>
    <option value="guessed_number">6</option>
    <option value="guessed_number">7</option>
    <option value="guessed_number">8</option>
    <option value="guessed_number">9</option>
    <option value="guessed_number">10</option>
  </select>
  <br>
  <br>
  <button>Guess</button>
</form>
