<form action="<%= stars_path%>" method="post">
  <label>
    Name:
    <input type="text" name="star[name]" required autofocus>
  </label>
  <label>
    Category:
    <input type="text" name="star[category]">
  </label>
<!-- FIX ME add drop down menu for constellation -->
<select name="star[constellation_id"]>
  <option></option>
  <% Constellation.all.each do |constellation| %>
  <option value="<%=constellation.id %>"><%= constellation.name%></option>
  <% end %>

</select>
  <button>Add Star</button>

</form>
