<h1>Secret Number</h1>

<h3>Try again.</h3>

<!-- <form action="/sn/result">
  <select name="numbers">
    <% @numbers.each do |n| %>
      <option value= "<%=n%>" ><%=n%></option>
    <% end %>
  </select>
  <button>Go!</button>
</form> -->
<!-- <p>Your guess: <%= @guess %></p>
<p>Secret number: <%= @secret_number %></p> -->
<img src="https://img.youtube.com/vi/R_xC8b17rCU/sddefault.jpg" alt="">
<a href="/sn">Play Again</a>
