<h1>Secret Number</h1>


<h3>You guessed correct!!</h3>
<!-- <p>Your guess: <%= params[:guess] %></p>
<p>Secret number: <%= @secret_number %></p> -->
<img src="https://s-media-cache-ak0.pinimg.com/originals/50/0d/a7/500da7a599fa8b84353cf82667df10e3.jpg" alt="">
<a href="/sn">Play Again</a>
