<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stock Indices</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/stock">All stocks</a>
      <a href="/stock/new">Add stock</a>
    </nav>
    <%= yield %>
  </body>
</html>
