<form action="/secret/validate">
  <label>Guess the number</label>

  <select name="guess">
    <% (1..10).each do |i| %>
      <option value="<%= i%>"><%= i %></option>
    <% end %>
  </select>
  
  <button>guess</button>
</form>
