<h1>The secret number game</h1>
  <h3>You guessed :<%= params['guess'] %></h3>
  <h3>The secret number is <%= @secret %></h3>
  <h3><%= @result %></h3>



<p><a href="/secret">Guess another one</a></p
