<h2>New Car</h2>

<form action="/cars" method="post">
  <input type="text" name="make" placeholder="Make">
  <input type="text" name="model" placeholder="Model">
  <input type="number" name="year" placeholder="Year">
  <button>Create Car</button>
</form>
