<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CARS BRO</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/cars">ALL THE CARS</a>
      <a href="/cars/new">New</a>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
