<!DOCTYPE html>
<html>
<head>
  <title>GamesOnRail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/magic8">Magic 8 ball</a>
    <a href="/sn">Secret Number</a>
    <a href="/rps">Rock, Paper, Scissors</a>
  </nav>
<div class="container">
<%= yield %>
</div>
</body>
</html>
