body{
  font-family: sans-serif;
  background-color: #eee;
}

.container{
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 40px;
}



/*PAGE: Home*/
.main_image{
  width: 100%;
}

.main_title {
  font-size: 4em;
  position: absolute;
  color: rgba(255,255,255,0.8);
  margin-left: 20px;
}
form {
  font-size: 0.8em;
}
input {
  display: block;
  width: 400px;
  height: 2em;
  margin-bottom: 1em;
}

.thumbnail{
  width: 100px;
  height: 100px;
}



/*links*/
a:link {
  text-decoration: none;
    color:#5ea38f;
}

a:visited {
    color:#5ea38f;
}

a:hover {
  text-decoration: underline;
    color:#5ea38f;
}

/*index_pages*/
.index_list a img{
  display: block;
}

.index_list {
  list-style: none;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 20px;
}

/*navigation */
nav a{
  font-size: 1em;
  padding: 14px 14px;
  font-weight: bold;
}

nav {
  text-align: right;
  margin-top: 10px;
  height: 60px;
}

nav a:link {
  text-decoration: none;
    color:#555;
}

nav a:visited {
    color:#555;
}

nav a:hover {
  text-decoration: underline;
    color:#5ea38f;
}

/*PAGE: show*/

.show_image{
  display: inline-block;
}
.wrapper{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-left: 60px;
}

.controls a{
  font-size: 1em;
  color: black;
  padding: 7px;
  border: 1px solid black;
}
.controls a:hover {
  background-color: black;
  color: white;
}

.controls {
 text-align: right;
 }
