body {
  background-color: greenyellow;
  font-size: 50px;
  text-align: center;
}
a {
  margin: 8px;
  padding: 8px;
  border: 2px dashed red;
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
.yes {
  background-color: lightcyan;
}
.no {
  background-color: beige;
}
.done {
  background-color: thistle;
}
