<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppers</title>
  <link rel="stylesheet" href="/css/dogs.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/doggos">All doggers</a>
      <a href="/doggos/new">New pup</a>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
