<h2>New Dog</h2>

<form action="/doggos" method="post">
  <input type="text" name="name" placeholder="dog name">
  <input type="text" name="race" placeholder="dog race">
  <label for='isGoodBoy'>Is he a good boy?
    <input type="radio" name="isGoodBoy" value="TRUE" checked>Yes
    <input type="radio" name="isGoodBoy" value="FALSE"> No
  </label>
  <input type="url" name="image" placeholder="http://...">
  <button>Create Pup</button>
</form>
