<h2>New fruite</h2>

<form action="/fruites" method="post">
  <input type="text" name="commonname" placeholder="Fruite common name">
  <input type="text" name="scientificname" placeholder="Fruite scientific ">
  <input type="url" name="image" placeholder="http://...">
  <button>Create fruite</button>
</form>
