<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Basket of fruites</title>
  <link rel="stylesheet" href="/css/fruites.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/fruites">All fruites</a>
      <a href="/fruites/new">New fruites</a>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
