<h1>Welcome to the games Fair</h1>
<h2>Have fun with the online games.</h2>
<div class="slider">
<div class="wrapper">
  <figure>
    <a href="/secret_number"><img class="home-images" src="/assets/secret_number.jpg" alt="Secret Number"></a>
    <a href="/magic8ball"><img class="home-images" src="/assets/Ask_me_ball.png" alt="Magic 8 Ball"></a>
    <a href="/rock_paper_scissors"><img class="home-images" src="/assets/rock_sci_paper.jpg" alt="Rock paper scissors"></a>
  </figure>
</div>
</div>
